*.asv
*.log
*.fig
*.tif
*.png
*.jpg
*.svg
*.eps
*.emf
powerProjectCodes/.vscode/
powerProjectCodes/backUpData/
powerProjectCodes/savedDataBak/
connectivityProjectCodes/savedData/
SlopeProjectCodes/savedData/
